<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!--Telco-->
    <add key="regisVisport" value="DK TP"/>
    <add key="viettel" value="8496|8497|8498|84162|84163|84164|84165|84166|84167|84168|84169|"/>
    <add key="vms" value="8490|8493|84120|84121|84122|84126|84128|"/>
    <add key="gpc" value="8491|8494|84123|84124|84125|84127|"/>
    <add key="gtel" value="84199|8499|"/>
    <add key="vnmobile" value="8492|84188|84186"/>
    <add key="sfone" value="8495|"/>
    <add key="alert_reg_success" value="(092) Chuc mung! Quy khach da Dky thanh cong DV viSport SMS cua Vietnamobile .Quy khach duoc MIEN PHI 7 ngay su dung dich vu. Truy cap ngay http://viSport.vn de su dung dich vu. Cuoc phi ( 3000d/ 07 ngay) De huy DK, soan: SM OFF gui 979. HT: 19001255"/>
    <add key="alert_cancel_success" value="(092)Quy khach da yeu cau huy  DV viSport thanh cong. Dich vu van tiep tuc co hieu luc den ngay het ngay dd/mm/yy. HT: 19001255"/>
    <add key="alert_Already_Reg" value="(092)Quy khach da dang su dung DV nay.Quy khach se duoc su dung dich vụ viSport den het ngay dd/mm/yy. Truy cap dich vu tai dia chi http://viSport.vn. HT: 19001255"/>
    <add key="alert_SC_reg_success" value="(092) Chuc mung! Quy khach da Dky thanh cong DV viSport cua Vietnamobile .Quy khach duoc MIEN PHI 7 ngay su dung dich vu. Truy cap ngay http://viSport.vn de su dung dich vu. Cuoc phi ( 3000d/ 07 ngay) De huy DK, soan: SC OFF gui 979. HT: 19001255"/>
    <add key="alert_SC_cancel_success" value="(092)Quy khach da yeu cau huy DV viSport thanh cong. Dich vu van tiep tuc co hieu luc den ngay het ngay dd/mm/yy. HT: 19001255"/>
    <add key="alert_SC_Already_Reg" value="(092)Quy khach da dang su dung DV nay.Quy khach se duoc su dung dich vụ viSport den het ngay dd/mm/yy. Truy cap dich vu tai dia chi http://viSport.vn. HT: 19001255"/>
    <add key="alert_reg_success_vclip" value="(092) Chuc mung! Quy khach da Dky thanh cong DV VMclip cua Vietnamobile .Quy khach duoc MIEN PHI 3 ngay su dung dich vu. Truy cap ngay http://clip.visport.vn de su dung dich vu. Cuoc phi ( 5000d/ 07 ngay) De huy DK, soan: CLIP OFF gui 949 HT: 19001255"/>
    <add key="alert_reg_success_vclip1" value="(092) Dich vu VMclip yeu cau dien thoai cua quy khach co ho tro chuc nang xem video truc tuyen va ket noi mang. De cai dat GPRS tu dong soan tin GPRS gui 223 ( Mien phi cai dat GPRS )"/>
    <add key="alert_cancel_success_vclip" value="(092)Quy khach da yeu cau huy DV Vmclip thanh cong. Dich vu van tiep tuc co hieu luc den ngay het ngay dd/mm/yy. HT: 19001255"/>
    <add key="alert_Already_Reg_vclip" value="(092)Quy khach da la thue bao cua DV nay.Quy khach se duoc su dung dich vụ VMclip den het ngay dd/mm/yy. Truy cap dich vu tai dia chi http://clip.visport.vn ."/>
    <add key="DK_lai_khi_da_tung_HUY_dungcuphap_sm" value="(092) Chuc mung! Quy khach da Dky thanh cong DV viSport SMS cua Vietnamobile . Truy cap ngay http://viSport.vn de su dung dich vu. Cuoc phi ( 3000d/ 07 ngay) De huy DK, soan: SM OFF gui 979. HT: 19001255"/>
    <add key="DK_lai_khi_da_tung_HUY_saicuphap_sm" value="(092)Tin nhan sai, dang ky su dung dich vu viSport SMS theo cu phap sau: SC gui 979 (3000vnd/7ngay). Quy khach se duoc su dung dich vu MIEN PHI trong 7 ngay dau tien.HT: 19001255"/>
    <add key="DK_lai_khi_da_tung_HUY_dungcuphap_sc" value="(092) Chuc mung! Quy khach da Dky thanh cong DV viSport cua Vietnamobile . Truy cap ngay http://viSport.vn de su dung dich vu. Cuoc phi ( 3000d/ 07 ngay) De huy DK, soan: SC OFF gui 979. HT: 19001255"/>
    <add key="DK_lai_khi_da_tung_HUY_saicuphap_sc" value="(092)Tin nhan sai, dang ky su dung dich vu viSport theo cu phap sau: SC gui 979 (3000vnd/7ngay). Quy khach se duoc su dung dich vu MIEN PHI trong 7 ngay dau tien.HT: 19001255"/>
    <add key="DK_lai_khi_da_tung_HUY_thubaohettien" value="(092)Tai khoan cua Quy khach khong du tien de su dung DV viSport  (3000d/7ngay).Quy khach hay nap them tien de tiep tuc su dung dich vu.HT: 19001255"/>
    <add key="DK_lai_khi_da_tung_HUY_dungcuphap_vclip" value=" (092) Chuc mung! Quy khach da gia han thanh cong DV VMclip cua Vietnamobile . Truy cap ngay http://clip.viSport.vn de su dung dich vu. Cuoc phi ( 5000d/ 07 ngay) De huy DK, soan: CLIP OFF gui 949. HT: 19001255"/>
    <add key="DK_lai_khi_da_tung_HUY_thubaohettien_vclip" value="(092)Tai khoan cua Quy khach khong du tien de su dung dich vu VMClip. Quy khach hay nap them tien de tiep tuc su dung dich vu. Gia cuoc ( 5000vnd/7ngay ) HT: 19001255"/>
    <add key="userName_3g_visport" value="VMGViSport"/>
    <add key="password_3g_visport" value="v@#port"/>
    <add key="cpId_3g_visport" value="1930"/>
    <add key="price_visport_charging" value="3000"/>
    <add key="userName_3g_vclip" value="VMGWAP3G"/>
    <add key="password_3g_vclip" value="vmg@#3g"/>
    <add key="cpId_3g_vclip" value="1928"/>
    <add key="price_vclip_charging" value="5000"/>
    <add key="TestFlag" value="1"/>
    <add key="msgReturn" value="1"/>
    <add key="OffSpamSms_MT" value="Quy khach da yeu cau huy DV viSport [sms] hang ngay thanh cong. HT: 19001255"/>
    <!--MT HUY-->
    <add key="VNM_XoSo_Huy_Mt" value="QK da huy thanh cong DV KQXS SubCode.Truy cap: http://wap.vietnamobile.com.vn de nhan huong dan dang ky cac dich vu khac. HT: 19001255"/>
    <add key="VNM_Gane_Huy_Mt" value="QKhach da huy thanh cong DV game HOT hang tuan. Truy cap: http://wap.vietnamobile.com.vn de nhan huong dan dang ky cac dich vu khac cua Vietnamobile. HT: 19001255"/>
    <add key="VNM_SoiCau_Huy_Mt" value="QK da huy thanh cong DV SOI CAU. Truy cap: http://wap.vietnamobile.com.vn de nhan huong dan dang ky cac dich vu khac cua Vietnamobile. HT: 19001255"/>
    <add key="VNM_Video_Huy_Mt" value="QKhach da huy thanh cong DV VIDEO HOT hang ngay cua VNM. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile. HT: 19001255"/>
    <add key="VNM_TruyenCuoi_Huy_Mt" value="QK da huy thanh cong DV TRUYEN CUOI. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile.HT: 19001255"/>
    <add key="VNM_NhacChuong_Huy_Mt" value="QK da huy thanh cong DV NHAC CHUONG HOT. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile HT: 19001255"/>
    <add key="VNM_HoangDao_Huy_Mt" value="QK da huy thanh cong DV XEM CUNG HOANG DAO. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile.HT: 19001255"/>
    <add key="VNM_CamNangTuVan_Huy_Mt" value="QK da huy thanh cong DV CẨM NANG TƯ VẤN. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile.HT: 19001255"/>
    <add key="VNM_DiaDiemAnChoi_Huy_Mt" value="QK da huy thanh cong DV DIA DIEM AN CHOI. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile HT: 19001255"/>
    <add key="VNM_SexVaCuocSong_Huy_Mt" value="QK da huy thanh cong DV SEX VA CUOC SONG. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile HT: 19001255"/>
    <add key="VNM_DocTruyen_Huy_Mt" value="QK da huy thanh cong DV DOC TRUYEN. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile HT: 19001255"/>
    <add key="VNM_HinhNen_Huy_Mt" value="QK da huy thanh cong DV HINH NEN. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile HT: 19001255"/>
    <add key="VNM_BoiVui_Huy_Mt" value="QK da huy thanh cong DV BOI VUI. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile HT: 19001255"/>
    <add key="VNM_TKCapSo_Huy_Mt" value="QK da huy thanh cong DV THONG KE CAP SO SubCode. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile HT: 19001255"/>
    <add key="VNM_KQXS_Huy_Mt" value="QK da huy thanh cong DV CHO KQXS SubCode. Truy cap: http://wap.vietnamobile.com.vn. de nhan huong dan dang ky cac dich vu khac cua Vietnamobile HT: 19001255"/>
    <add key="VNM_KetQuaXoSo_Huy_Mt" value="QK da huy thanh cong DV KQXS SubCode. Truy cap: http://wap.vietnamobile.com.vn de nhan huong dan dang ky cac dich vu khac cua Vietnamobile. HT: 19001255"/>
    <!--END MT HUY-->
    <!--MT DOUBLE DK-->
    <add key="VNM_SoiCau_DoubleDK_Mt" value="QK da la thue bao cua DV nay. QK se nhan duoc TU VAN CHUYEN GIA vao 15h hang ngay.DK nhan KQXS hang ngay,soan: DK1 SubCode gui 949. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_Game_DoubleDK_Mt" value="QKhach da la thue bao cua DV nay. QKhach se nhan duoc moi tuan 2 game moi vao 15h Thu 3, 6 hang tuan. Chi tiet truy cap: http://wap.vietnamobile.com.vn  HT: 19001255"/>
    <add key="VNM_Video_DoubleDK_Mt" value="QK da la thue bao cua DV nay. VIDEO HOT se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. De xem va tai video ve may dt can ho tro GPRS, Soan GPRS gui 223"/>
    <add key="VNM_Cuoi_DoubleDK_Mt" value="QK da la thue bao cua DV nay. TRUYEN CUOI se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_NhacChuong_DoubleDK_Mt" value="QK da la thue bao cua DV nay.  NHAC CHUONG HOT se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. De tai nhac chuong ve may dt can ho tro GPRS, Soan GPRS gui 223"/>
    <add key="VNM_HoangDao_DoubleDK_Mt" value="QK da la thue bao cua DV nay. QK se nhan duoc Thong tin cung hoang dao vao 8h hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT 19001255"/>
    <add key="VNM_CamNangTuVan_DoubleDK_Mt" value="QK da la thue bao cua DV nay. CAM NANG TU VAN se duoc gui ve cho QK vao 8h hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_AnChoi_DoubleDK_Mt" value="QK da la thue bao cua DV DIA DIEM AN CHOI. Hang ngay he thong se gui cho QK thong tin cac dia diem an choi vao luc 15h. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_Sex_DoubleDK_Mt" value="QK da la thue bao cua DV nay. Hang ngay he thong se gui cho QK thong tin tu van ve Sex va cuoc song vao luc 21h. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_DocTruyen_DoubleDK_Mt" value="QK da la thue bao cua DV nay. TRUYEN  se duoc gui ve vao thu 2 va thu 5 hang tuan. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_HinhNen_DoubleDK_Mt" value="QK da la thue bao cua DV nay. HINH NEN HOT se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. De xem va tai video ve may dt can ho tro GPRS, Soan GPRS gui 223"/>
    <add key="VNM_BoiVui_DoubleDK_Mt" value="QK da la thue bao cua DV nay. BOI VUI  se duoc gui ve hang ngay cho QK vao luc 8h. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_ThongKe_DoubleDK_Mt" value="QK da la thue bao cua DV nay. Tke CAP SO se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_KetQua_DoubleDK_Mt" value="QK da la thue bao cua DV nay. KQXS se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_KetQuaXoSo_DoubleDK_Mt" value="QK da la thue bao cua DV nay.QK se nhan duoc KQXS SubCode vao 17h30 cac ngay quay thuong.Nhan game HOT hang tuan,soan: DK1 GAME gui 949. Chi tiet truy cap: http://wap.vietnamobile.com.vn HT: 19001255"/>
    <!--END MT DOUBLE DK-->
    <!--MT DK THANH CONG -->
    <add key="VNM_SoiCau_DangKyThanhCong_Mt" value="Chuc mung!QK da DK thanh cong DV SOI CAU SubCode (2000d/ngay).QKhach duoc MIEN PHI 7 lan soi cau lien tiep trong lan dau dang ky. Hang ngay TU VAN CHUYEN GIA se duoc gui ve vao 15h.De huy DV, soan: HUY1 SC MaHuy gui 949. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_Game_DangKyThanhCong_Mt" value="Chuc mung! QK da DK thanh cong DV game HOT hang tuan cua Vietnamobile  (10000d/tuan).QK se nhan duoc moi tuan 2 game moi vao 15h Thu 3, 6. MIEN PHI trai nghiem 2 game voi khach hang lan dau dang ky. De choi Game DienThoai phai ho tro GPRS, Soan: GPRS gui 223 de cai dat GPRS tu dong.HT: 19001255"/>
    <add key="VNM_Video_DangKyThanhCong_Mt" value="QK da dang ki thanh cong DV VIDEO cua VNM (1000d/ngay). MIEN PHI trong 7 ngay dau dang ki. VIDEO HOT se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. De xem va tai video ve may dt can ho tro GPRS, Soan GPRS gui 223"/>
    <add key="VNM_Cuoi_DangKyThanhCong_Mt" value="QK da dang ki thanh cong DV TRUYEN CUOI cua VNM (500d/ngay). MIEN PHI trong 7 ngay dau dang ki. TRUYEN CUOI se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_NhacChuong_DangKyThanhCong_Mt" value="QK da dang ki thanh cong DV NHAC CHUONG cua VNM (1000d/ngay). MIEN PHI trong 7 ngay dau dang ki. NHAC CHUONG HOT se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. De tai nhac chuong ve may dt can ho tro GPRS, Soan GPRS gui 223"/>
    <add key="VNM_HoangDao_DangKyThanhCong_Mt" value="QK da dang ki thanh cong DV XEM CUNG HOANG DAO cua VNM (500d/ngay). MIEN PHI trong 7 ngay dau dang ki. Thong tin CUNG HOANG DAO se duoc gui ve  vao 8h hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_CamNangTuVan_DangKyThanhCong_Mt" value="Chuc mung! QK da DK thanh cong DV CAM NANG TƯ VẤN (500d/ngay). QKhach duoc MIEN PHI nhan tin 7 ngay lien tiep trong lan dau dang ky. CAM NANG TU VAN se duoc gui ve cho QK vao 8h hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_AnChoi_DangKyThanhCong_Mt" value="Chuc mung! QK da DK thanh cong DV DIA DIEM AN CHOI (500d/ngay). Hang ngay he thong se gui cho QK thong tin cac dia diem an choi vao luc 15h. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_Sex_DangKyThanhCong_Mt" value="Chuc mung! QK da DK thanh cong DV SEX VA CUOC SONG  (1000d/ngay). Hang ngay he thong se gui cho QK thong tin tu van ve Sex va cuoc song vao luc 21h. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_DocTruyen_DangKyThanhCong_Mt" value="QK da dang ki thanh cong DV DOC TRUYEN cua VNM (2000d/7 ngay). MIEN PHI trong 7 ngay dau dang ki. TRUYEN  se duoc gui ve vao thu 2 va thu 5 hang tuan. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_HinhNen_DangKyThanhCong_Mt" value="QK da dang ki thanh cong DV HINH NEN cua VNM (500d/ngay). MIEN PHI trong 7 ngay dau dang ki. HINH NEN HOT se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. De xem va tai video ve may dt can ho tro GPRS, Soan GPRS gui 223"/>
    <add key="VNM_BoiVui_DangKyThanhCong_Mt" value="QK da dang ki thanh cong DV BOI VUI cua VNM (500d/ngay). MIEN PHI trong 7 ngay dau dang ki. BOI VUI  se duoc gui ve hang ngay cho QK vao luc 8h. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_ThongKe_DangKyThanhCong_Mt" value="QK da dang ki thanh cong DV Tke CAP SO SubCode cua VNM (2000d/ngay). MIEN PHI trong 7 ngay dau dang ki. Tke CAP SO  se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_KetQua_DangKyThanhCong_Mt" value="QK da dang ki thanh cong DV CHO KQXS SubCode cua VNM (2000d/ngay). MIEN PHI trong 7 ngay dau dang ki. KQXS  se duoc gui ve hang ngay. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="VNM_KetQuaXoSo_DangKyThanhCong_Mt" value="Chuc mung!QK da DK thanh cong DV KQXS SubCode (500d/ngay).QKhach duoc MIEN PHI 14 lan tra KQ lien tiep trong lan dau dang ky. KQ se duoc gui ve vao 17h30 cac ngay quay thuong.Huy DK,soan:HUY1 MaHuy gui 949.Chi tiet truy cap: http://wap.vietnamobile.com.vn HT: 19001255"/>
    <!--END MT DK THANH CONG -->
    <add key="VNM_TinSaiCuPhap_Mt" value="Tin nhan sai cu phap. Truy cap: http://wap.vietnamobile.com.vn de nhan huong dan dang ky cac dich vu khac cua Vietnamobile. HT: 19001255"/>
    <add key="ShortCode" value="949"/>
    <add key="MB_Code" value="MB,KQ,KQMB,XSMB,KQXS,KQSX,XSTD,SXTD,SXMB,MIENBAC,THUDO,KETQUA,XMB"/>
    <add key="S2VNM.S2Vnm" value="http://sv36.vmgmedia.vn:9005/S2Vnm.asmx"/>
    <add key="VNM_SpamSms_User_Delete_TT" value="(092)QK da huy thanh cong DV TIN THE THAO. De dky nhan tin nhanh Manchester United hang ngay QK soan DK MU gui 979 HT: 19001255"/>
    <add key="VNM_SpamSms_User_Delete_MU" value="(092)QK da huy thanh cong DV tin nhanh Manchester United. De dky nhan tin nhanh Manchester United hang ngay QK soan DK MU gui 979 HT: 19001255"/>
    <add key="VNM_SpamSms_User_AlreadyRegister_TT" value="(092) QK da la thue bao cua DV nay. Hang ngay tin the thao se duoc tra ve vao luc 9h va 20h. "/>
    <add key="VNM_SpamSms_User_AlreadyRegister_MU" value="(092) QK da la thue bao cua DV nay. Hang ngay tin nhanh manchester united se duoc tra ve vao luc 9h va 20h. "/>
    <add key="VNM_SpamSms_User_SucessRegister_TT" value="(092)Chuc mung! QK da Dky thanh cong DV Tin The Thao 24h tren cong the thao Visport cua VietNamobile (1000d/ngay). QKhach duoc MIEN PHI nhan tin 7 ngay lien tiep trong lan dau dang ky. Tin The Thao se duoc tra ve vao 9h sang va 20h toi hang ngay. De huy DK, soan: HUY TT gui 979. "/>
    <add key="VNM_SpamSms_User_SucessRegister_MU" value="(092)Chuc mung! QK da Dky thanh cong DV Tin nhanh Manchester United tren cong the thao Visport cua VietNamobile (1000d/ngay). QKhach duoc MIEN PHI nhan tin 7 ngay lien tiep trong lan dau dang ky. Tin The Thao se duoc tra ve vao 9h sang va 20h toi hang ngay. De huy DK, soan: HUY MU gui 979."/>
    <add key="VNM_SpamSms_User_ErrorSystax" value="(092)Tin nhan sai.Dky nhan tin nhanh Mancherter United hang ngay bang cach soan DK MU gui 979.DTHT: 19001255"/>
    <!-- VOTE SMS CONTENT -->
    <add key="Vote_Sms_ErrorSystax" value="Quy khach da nhan sai cu phap. De la 1 trong 4 nguoi may man hen ho than tuong trong Gameshow 'Hen ho cung than tuong'. De duoc huong dan, soan: Henho gui 8279"/>
    <add key="Vote_Sms_RegisterSucess" value="Chuc mung ban dang ky thanh cong Gameshow 'Hen ho cung than tuong'. Hay vote cho PersonName de tro thanh nguoi chien thang . Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="Vote_Sms_RegisterSucess_Mt2_Like" value="Ban da vote thanh cong cho: PersonName. So luot vote cua ban: VoteCount. Ban dang thuoc top: VoteTop nhung nguoi Vote nhieu nhat. Vote cang nhieu ban cang co co hoi la 1 trong 4 nguoi hen ho than tuong. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="Vote_Sms_RegisterSucess_Mt2_UnLike" value="Ban da Nem Gach PersonName thanh cong. So Gach cua ban: DislikeCount. Ban dang thuoc top: DislikeTop nhung nguoi Nem Gach nhieu nhat. Nem Gach cang nhieu ban cang co co hoi la 1 trong 4 nguoi hen ho than tuong. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="Vote_Sms_AlreadyRegister" value="Ban da Vote thanh cong cho PersonName. Vote cang nhieu ban cang co co hoi la 1 trong 4 nguoi hen ho than tuong. Soan: Vote1 gui 8279 de gap go Mai Tho. Soan:Vote2 gui 8279 de gap go Linh Miu. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="Vote_Sms_LockUserSuccess" value="Quy Khach da huy thanh cong Gameshow 'Hen ho cung than tuong'. Cam on Quy Khach da su dung goi dich vu."/>
    <add key="Vote_Sms_LockUserError" value="Quy Khach chua huy duoc Gameshow 'Hen ho cung than tuong' do thue bao dang ky khong ton tai. Cam on Quy Khach da su dung goi dich vu."/>
    <add key="Vote_Sms_RegisterSucess_OtherTelco" value="Ban da vote thanh cong cho: PersonName. So luot vote cua ban: VoteCount. Ban dang thuoc top: VoteTop nhung nguoi Vote nhieu nhat. Vote cang nhieu ban cang co co hoi la 1 trong 4 nguoi hen ho than tuong. Chi tiet truy cap: http://wap.xzone.vn. HT: 19001255"/>
    <add key="Vote_Sms_ErrorSystax_OtherTelco" value="Quy khach da nhan sai cu phap. De la 1 trong 4 nguoi may man hen ho than tuong trong Gameshow 'Hen ho cung than tuong'. De duoc huong dan, soan: Henho gui 8279"/>
    <add key="Vote_Sms_RegisterSucess_Dislike" value="Chuc mung ban dang ky thanh cong Gameshow 'Hen ho cung than tuong'. Hay Nem gach PersonName ma ban khong thich de tro thanh nguoi chien thang . Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="Vote_Sms_AlreadyRegister_Dislike" value="Ban da Nem Gach PersonName thanh cong. Nem Gach cang nhieu ban cang co co hoi la 1 trong 4 nguoi hen ho than tuong. Soan: Gach1 gui 8279 de gap go Linh Miu. Soan:Gach2 gui 8279 de gap go Mai Tho. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="Vote_Sms_RegisterSucessDislike_OtherTelco" value="Ban da Nem Gach PersonName thanh cong. So Gach cua ban: DislikeCount. Ban dang thuoc top: DislikeTop nhung nguoi Nem Gach nhieu nhat. Nem Gach cang nhieu ban cang co co hoi la 1 trong 4 nguoi hen ho than tuong. Chi tiet truy cap: http://wap.xzone.vn. HT: 19001255"/>
    <add key="Vote_Sms_Faq" value="De Vote cho nhan vat ma ban yeu thich. Soan: Vote1 gui 8279 de gap go Mai Tho. Soan: Vote2 gui 8279 de gap go Linh Miu. De Nem Gach nhân vât ma ban khong thich. Soan: Gach1 gui 8279 de gap go Linh Miu. Soan: Gach2 gui 8279 de gap go Mai Tho. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="Vote_Sms_Faq_OtherTelco" value="De Vote cho nhan vat ma ban yeu thich. Soan: Vote1 gui 8279 de gap go Mai Tho. Soan: Vote2 gui 8279 de gap go Linh Miu. De Nem Gach nhân vât ma ban khong thich. Soan: Gach1 gui 8279 de gap go Linh Miu. Soan: Gach2 gui 8279 de gap go Mai Tho. Chi tiet truy cap: http://wap.xzone.vn. HT: 19001255"/>
    <add key="Vote_Sms_RegisterSucess_Mobi" value="Chuc mung ban dang ky thanh cong Gameshow 'Hen ho cung than tuong'. Hay vote cho PersonName de tro thanh nguoi chien thang."/>
    <add key="Vote_Sms_AlreadyRegister_Mobi" value="Ban dang la thanh vien cua Gameshow 'Hen ho cung than tuong' "/>
    <add key="Vote_Sms_RegisterSucess_Mt2_Like_Mobi" value="So luot vote cua ban: VoteCount. Ban dang thuoc top: VoteTop nhung nguoi Vote nhieu nhat. Soan: Vote1 gui 8979 de Hen Ho voi 1 trong 5 Hot Girl Xinh Dep"/>
    <add key="Vote_Sms_RegisterSucess_Mt2_UnLike_Mobi" value="Ban da Nem Gach thanh cong cho PersonName. Nem Gach cang nhieu ban cang co co hoi la 1 trong 4 nguoi hen ho than tuong. Soan: Gach1 gui 8979 de gap go Linh Miu. Soan: Gach2 gui 8979 de gap go Mai Tho."/>
    <add key="Vote_Sms_LockUserSuccess_Mobi" value="Quy Khach da huy thanh cong Gameshow 'Hen ho cung than tuong'. Cam on Quy Khach da su dung goi dich vu."/>
    <add key="Vote_Sms_LockUserError_Mobi" value="Quy Khach chua huy duoc Gameshow 'Hen ho cung than tuong' do thue bao dang ky khong ton tai. Cam on Quy Khach da su dung goi dich vu."/>
    <add key="Vote_Sms_ChargedSubSucess_Like" value="Ban da vote thanh cong cho: PersonName. So luot vote cua ban: VoteCount. Ban dang thuoc top: VoteTop nhung nguoi Vote nhieu nhat. Vote cang nhieu ban cang co co hoi la 1 trong 4 nguoi hen ho than tuong."/>
    <add key="Vote_Sms_ChargedSubSucess_UnLike" value="Ban da Nem Gach PersonName thanh cong. So Gach cua ban: DislikeCount. Ban dang thuoc top: DislikeTop nhung nguoi Nem Gach nhieu nhat. Nem Gach cang nhieu ban cang co co hoi la 1 trong 4 nguoi hen ho than tuong."/>
    <!-- END VOTE SMS CONTENT -->
    <!-- SPORT GAME HERO SMS CONTENT -->
    <add key="AnhTaiBongDa_DangKyThanhCong" value="Chuc mung ban da tham gia CTKM Chay cung EURO cua Vietnamobile. Mien phi ngay dau tien trai nghiem dich vu. Ban co 5 ma du thuong de co co hoi trung thuong 30 trieu tien mat. Moi ngay ban se duoc tra loi cau hoi de  nang cao co hoi trung thuong (5000d/ngay). Truy cap: http://visport.vn de su dung dvu. De huy dvu soan: HUY EU gui 979. De xem huong dan, soan HDAN gui 979. HT: 19001255"/>
    <add key="AnhTaiBongDa_DangKyThanhCongNotKM" value="Chuc mung ban da tham gia CTKM Chay cung EURO cua Vietnamobile. Ban co 5 ma du thuong de co co hoi trung thuong 30 trieu tien mat. Moi ngay ban se duoc tra loi cau hoi de  nang cao co hoi trung thuong (5000d/ngay). Truy cap: http://visport.vn de su dung dvu. De xem huong dan, soan HDAN gui 979. De huy dvu soan: HUY EU gui 979. HT: 19001255"/>
    <add key="AnhTaiBongDa_DangKyThanhCongKM" value="Chuc mung ban da tham gia CTKM Chay cung EURO cua Vietnamobile. Ban dang duoc Mien phi ngay dau tien trai nghiem dich vu. Moi ngay ban se duoc tra loi cau hoi de  nang cao co hoi trung thuong 30 trieu tien mat (5000d/ngay).Truy cap: http://visport.vn de su dung dvu. De xem huong dan, soan HDAN gui 979. De huy dvu soan: HUY EU gui 979. HT: 19001255"/>
    <add key="AnhTaiBongDa_SaiCuPhap" value="Tin nhan sai cu phap. Chi tiet truy cap http://visport.vn. HT: 19001255"/>
    <add key="AnhTaiBongDa_DoubleDangKy" value="Ban da tham gia  CTKM Chay cung EURO cua Vietnamobile. Tham gia tra loi cau hoi de co co hoi so huu 30 trieu tien mat. Truy cap: http://visport.vn de su dung dvu. De xem huong dan, soan HD EU gui 979. De huy dvu soan: HUY EU ui 979. HT: 19001255"/>
    <add key="AnhTaiBongDa_HuyDichVuThanhCong" value="Quy khach da huy thanh cong dich vu Visport cua Vietnamobile. Quy khach da bo lo co hoi so huu 30 trieu tien mat. De dang ky su dung lai dich vu, soan EU gui 979. Chi tiet truy cap http://visport.vn. HT: 19001255"/>
    <add key="AnhTaiBongDa_KiemTraMaDuThuongThanhCong" value="Quy khach dang co xxx ma du thuong de quay thuong  CTKM Chay cung EURO cua Vietnamobile voi co hoi trung thuong 30 trieu tien mat. Chi tiet truy cap http://visport.vn. HT: 19001255"/>
    <add key="AnhTaiBongDa_HuongDanThanhCong" value="Chao mung ban den voi CTKM Chay Cung Euro cua Vietnamobile. Dich vu cung cap cho KH nhung thong tin nong nhat ve giai Euro cung cac tin tuc the thao khac. Gia han thanh cong dich vu, moi ngay KH nhan duoc 5 cau hoi mien phi tren trang http://visport.vn. Het 5 cau hoi mien phi, he thong se thong bao cho KH, KH mua them cau hoi voi gia 1.000d/cau hoi, khong gioi han so luong cau hoi mua them. Voi moi cau tra loi dung, KH duoc 1 ma du thuong. Tra loi sai khong duoc ma du thuong. Cuoi chuong trinh se co 1 giai nhat 20 trieu dong cung 2 giai nhi tri gia moi giai 5 trieu dong danh cho KH may man. De dang ky, soan EU gui 979, HUY EU de huy dich vu, DT de biet so ma du thuong dang co. Chi tiet LH 19001255."/>
    <add key="AnhTaiBongDa_TaiKhoanHetTien" value="Tai khoan cua Quy khach khong du tien de tham gia CTKM Chay cung EURO cua Vietnamobile. Vui long nap them tien va soan EU gui 979 de su dung dich vu.  De biet them chi tiet, truy cap: http://visport.vn. HT: 19001255"/>
    <add key="AnhTaiBongDa_ChuaDangKy" value="Quy khach chua su dung dich vu  Visport cua Vietnamobile. De dang ky su dung dich vu, soan EU gui 979. Chi tiet truy cap http://visport.vn. HT: 19001255"/>
    <add key="NotEnoughMoney" value="Result:12,Detail:Not enough money."/>
    <add key="SportGamePrice" value="1000"/>
    <add key="AnhTaiBongDa_StartKM" value="2016-JUN-09"/>
    <add key="AnhTaiBongDa_EndKM" value="2016-JUL-11"/>
    <!-- END SPORT GAME HERO SMS CONTENT -->
    <!-- BI MAT HOT GIRL SMS CONTENT -->
    <add key="BiMatHotGirl_DangKyThanhCong" value="Chuc mung ban dang ky thanh cong Gameshow 'BI MAT DONG TROI CUA HOT GIRL MAI THO'. Hay dat gach cang nhieu de co co hoi hen ho va biet bi mat dang sau Mai Tho la gi. Vui long soan GACH gui 8379 hoac su dung 3G va truy cap vao link [SmsSub] .Hoac de huy dich vu soan HUY GACH gui 8379.HT: 19001255"/>
    <add key="BiMatHotGirl_ThongBaoLuotVote" value="So luot Dat gach cua ban: [VoteCount]. Ban dang thuoc top [VoteTop] nhung nguoi dat gach nhieu nhat. Dat gach cang nhieu ban cang co nhieu co hoi gap mat de biet BI MAT DONG TROI cua hot girl Mai Tho. De tiep tuc dat gach, Soan GACH gui 8379 hoac su dung 3G va truy cap vao link [SmsSub] .HT: 19001255"/>
    <add key="BiMatHotGirl_SaiCuPhap" value="Ban da nhan sai cu phap. De dang ky Soan GACH gui 8379  hoac su dung 3G va truy cap vao link [SmsSub] de co co hoi gap mat va biet BI MAT DONG TROI cua hot girl Mai Tho.HT: 19001255"/>
    <add key="BiMatHotGirl_HetTien" value="Tai khoan cua quy khach khong du. Xin vui long nap them tien vao tai khoan. Chi tiet truy cap http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="BiMatHotGirl_HuongDan" value="De dang ky soan GACH gui 8379 hoac dung 3G va truy cap link [SmsSub] De huy, soan Huy Gach gui 8379. Chi tiet truy cap [WapAddress] HT: 19001255"/>
    <add key="BiMatHotGirl_HuyDichVuChuaDangKy" value="Ban chua dang ky dich vu nay. De tham gia gameshow 'BI MAT DONG TROI CUA HOT GIRL MAI THO' Soan GACH gui 8379 hoac su dung 3G va truy cap vao link [SmsSub] de co co hoi gap mat va biet BI MAT DONG TROI cua hot girl Mai Tho.HT: 19001255"/>
    <add key="BiMatHotGirl_HuyDichVuDaDangKy" value="Ban da huy thanh cong dich vu nay. De tham gia gameshow 'BI MAT DONG TROI CUA HOT GIRL MAI THO'  Soan GACH gui 8379 hoac su dung 3G va truy cap vao link [SmsSub] de co co hoi gap mat va biet BI MAT DONG TROI cua hot girl Mai Tho.HT: 19001255"/>
    <add key="BiMatHotGirl_SmsSub_Vnm" value="http://wap.vietnamobile.com.vn/bi-mat-hot-girl/mai-tho.aspx"/>
    <add key="BiMatHotGirl_SmsSub_Xzone" value="http://wap.xzone.vn/bi-mat-hot-girl/mai-tho.aspx"/>
    <add key="BiMatHotGirl_WapAddress_Vnm" value="http://wap.vietnamobile.com.vn"/>
    <add key="BiMatHotGirl_WapAddress_Xzone" value="http://wap.xzone.vn"/>
    <!-- END BI MAT HOT GIRL SMS CONTENT -->
    <add key="CurrentWebSerice" value="http://123.29.68.135:8000/WebService.asmx"/>
    <add key="vn.thanhnu.subrs" value="http://thanhnu.vn/subscription/subrs.php"/>
    <add key="VMGGame.MOReceiver" value="http://media.xzone.vn:8094/MOReceiver.asmx"/>
    <add key="vnmdownload" value="http://download.8x79.vn/VNMDownload.ashx"/>
    <add key="download" value="http://download.8x79.vn/W4ADownload.ashx"/>
    <add key="Mo949Test" value="1"/>
    <!-- VOTE NEW SMS CONTENT -->
    <add key="New_Vote_DangKyThanhCong" value="Chuc mung ban dang ky thanh cong Gameshow 'Hen Ho cung Hot Girl'. Hay vote de Hen Ho voi 1 trong 5 Hot Girl Xinh Dep.Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="New_Vote_ThongBaoLuotVote" value="So luot vote cua ban: VoteCount. Ban dang thuoc top: VoteTop nhung nguoi Vote nhieu nhat. Soan: Vote1 gui 8579 de Hen Ho voi 1 trong 5 Hot Girl Xinh Dep. Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="New_Vote_ThongBaoLuotVote_OtherTelco" value="Ban da Vote thanh cong. So luot vote cua ban: VoteCount.Ban dang thuoc top: VoteTop nhung nguoi Vote nhieu nhat.Vote cang nhieu cang co co hoi la 1 trong 4 nguoi Hen Ho voi 1 trong 5 Hot Girl Xinh Dep. Soan: Vote1 gui 8579. Chi tiet truy cap: http://xzone.vn. HT: 19001255"/>
    <add key="New_Vote_SaiCuPhap" value="Quy khach da nhan sai cu phap. De la 1 trong 4 nguoi may man  Hen Ho voi 1 trong 5 Hot Girl Xinh Dep trong Gameshow 'Hen Ho cung Hot Girl'. De duoc huong dan, soan: Henho gui 8579"/>
    <add key="New_Vote_SaiCuPhap_OtherTelco" value="Quy khach da nhan sai cu phap. De la 1 trong  4 nguoi may man Hen Ho voi 1 trong 5 Hot Girl Xinh Dep trong Gameshow 'Hen ho cung Hot Girl'.De duoc huong dan, soan: Henho gui 8579"/>
    <add key="New_Vote_HetTien" value="Tai khoan cua quy khach khong du. Xin vui long nap them tien vao tai khoan. Chi tiet truy cap http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="New_Vote_HuongDan" value="De la 1 trong 4 nguoi may man Hen Ho voi 1 trong 5 Hot Girl Xinh Dep. Soan: Vote1 gui 8579 .De huy dich vu.Soan: Huy Vote1 gui 8579.Chi tiet truy cap: http://wap.vietnamobile.com.vn. HT: 19001255"/>
    <add key="New_Vote_HuongDan_OtherTelco" value="De la 1 trong 4 nguoi may man Hen Ho voi 1 trong 5 Hot Girl Xinh Dep. Soan: Vote1 gui 8579 .Chi tiet truy cap: http://xzone.vn HT: 19001255"/>
    <add key="New_Vote_HuyDichVuChuaDangKy" value="Quy Khach chua huy duoc Gameshow 'Hen Ho cung Hot Girl' do thue bao dang ky khong ton tai. Cam on Quy Khach da su dung goi dich vu."/>
    <add key="New_Vote_HuyDichVuDaDangKy" value="Quy Khach da huy thanh cong Gameshow 'Hen Ho cung Hot Girl'. Cam on Quy Khach da su dung goi dich vu."/>
    <add key="New_Vote_SmsSub_Vnm" value="http://wap.vietnamobile.com.vn/bi-mat-hot-girl/mai-tho.aspx"/>
    <add key="New_Vote_SmsSub_Xzone" value="http://wap.xzone.vn/bi-mat-hot-girl/mai-tho.aspx"/>
    <add key="New_Vote_WapAddress_Vnm" value="http://wap.vietnamobile.com.vn"/>
    <add key="New_Vote_WapAddress_Xzone" value="http://wap.xzone.vn"/>
    <!-- END VOTE NEW SMS CONTENT -->
    <add key="Ktdv_Mt_Content" value="Quy khach dang su dung dich vu Visport tren dau so 979. De huy tat ca dich vu, vui long soan: HUY TBDV gui 979.  De biet them ve cac dich vu khac, soan tin: HDSD gui 979 .Tran trong cam on."/>
    <add key="userName_3g_WapVnm" value="VMGWAP3G"/>
    <add key="password_3g_WapVnm" value="vmg@#3g"/>
    <add key="cpId_3g_WapVnm" value="1928"/>

    <add key="flagconfirm" value="1"/>
    <add key="confirmMsisdn" value="841866728649"/>
    
    <!-- Trieu Phu Bong Da CONTENT -->
    <add key="tpbd_saingaydudoan" value="He thong chi chap nhan cac ma du doan tran dau vao cac ngay thu 3,5,7 hang tuan.Xin cam on"/>
    <!-- END Trieu Phu Bong Da CONTENT -->
    <add key="vn.vmgame.Service_RegisS2" value="http://vmgame.vn/Service_RegisS2.asmx"/>
    <add key="ShotAndPrint.S2Process" value="http://123.29.67.174:8001/S2Process.asmx"/>
    <add key="RingTone.NC1_Handler" value="http://sv36.vmgmedia.vn:9005/ServiceHandlers/NC1_Handler.asmx"/>
    <add key="isTPBD" value="1"/>
    <add key="VClip_New" value="1"/>
    <add key="SamCdr" value="~/Sam_Cdr"/>
    <add key="StartKM" value="2015-OCT-16"/>
    <add key="EndKM" value="2015-NOV-17"/>
    <add key="GiaithuongCTKM" value="Samsung Galaxy A5"/>
    <add key="CTKM_Flag" value="0"/>
    <add key="RegisMT_KM" value="Ban da dang ky thanh cong CT iPhone 6s trao tay TRI AN khach hang Vietnamobile cua dv Visport . Ban duoc MIEN PHI TOAN BO cuoc khi tham gia chuong trinh.  De tich luy diem ban vui long mua game tai http://vmgame.vn, KH co so diem cao nhat khi ket thuc CT se gianh giai thuong. Truy cap bang 3g vao trang http://visport.vn  de su dung dvu. De biet ro hon ve chuong trinh soan TG gui 2288. De huy dich vu soan HUY KM gui 979"/>
    <add key="RegisMT_notKM" value="Chuc mung ban da dang ky thanh cong dich vu Visport cua Vietnamobile. Mien phi ngay dau tien cho thue bao lan dau dang ky. Dang ky dich vu, ban duoc xem, nghe, tai toan bo noi dung mien phi. Truy cap bang 3g vao dia chi http://visport.vn de su dung (5000d/ngay, dvu duoc tu dong gia han).  Huy dvu soan: HUY TP gui 979. HT: 19001255."/>
    <add key="HuyMT_KM" value="Ban da huy thanh cong dich vu Visport cua Vietnamobile. Ban da bo lo co hoi so huu iPhone 6s. De dang ky lai va su dung MIEN PHI dich vu, soan DK KM gui 979."/>
    <add key="HuyMT_notKM" value="Quy khach da huy thanh cong dich vu Visport cua Vietnamobile. De dang ky su dung lai dich vu, soan DK TP gui 979. Chi tiet truy cap http://visport.vn. HT: 19001255"/>
    <add key="RegisMO_KM" value="DK KM"/>
    <add key="HuyMTnotRegis_KM" value="Quy khach chua su dung dich vu  Visport cua Vietnamobile. De dang ky su dung dich vu, soan DK KM gui 979. Chi tiet truy cap http://visport.vn. HT: 19001255"/>
    <add key="HuyMTnotRegis_notKM" value="Quy khach chua su dung dich vu  Visport cua Vietnamobile. De dang ky su dung dich vu, soan DK TP gui 979. Chi tiet truy cap http://visport.vn. HT: 19001255"/>
    <add key="DoubleRegisMT_KM" value="Ban dang su dung dich vu Visport cua Vietnamobile. Truy cap bang 3g vao dia chi http://visport.vn de su dung. Huy dvu soan: HUY KM gui 979. HT: 19001255"/>
    <add key="DoubleRegisMT_notKM" value="Ban dang su dung dich vu Visport cua Vietnamobile. Truy cap bang 3g vao dia chi http://visport.vn de su dung (5000d/ngay, dvu duoc tu dong gia han). Huy dvu soan: HUY TP gui 979. HT: 19001255"/>
    <add key="WAP_CTKM" value="http://vmgame.vn"/>
    <add key="StartKM2" value="2015-DEC-02"/>  
    <add key="EndKM2" value="2016-MAR-03"/>
    <add key="RegisMT_KM2" value="Ban da dang ky thanh cong CT iPhone 6s trao tay TRI AN khach hang Vietnamobile cua dv Visport . KH co so diem cao nhat se so huu iPhone 6s vao cuoi CT. Duy tri dich vu de nhan diem hang ngay. Truy cap bang 3g vao trang http://visport.vn  de su dung dvu (5000d/ngay). De biet ro hon ve chuong trinh soan HD gui 2288. De huy dich vu soan HUY KM gui 979"/>
    <add key="HuyMT_KM2" value="Ban da huy thanh cong dich vu Visport cua Vietnamobile. Ban da bo lo co hoi so huu iPhone 6s. De dang ky lai MIEN PHI dich vu, soan DK KM gui 979."/>
    <add key="SentMT.sendMT" value=" http://sendmt.vmgmedia.vn/api/services/sendMT"/>
    <add key="ApiVnptMedia.RegGate" value="http://123.29.67.201:8282/VMG_MTV_API/RegGate"/>
  <add key="ChargingGateway.WebServiceCharging3g" value="http://sv36.vmgmedia.vn:9203/WebServiceCharging3g.asmx"/>
  </appSettings>  
  <connectionStrings>
    <add name="localsql" connectionString="server=db168.vmgmedia.vn;database=TTND;uid=ttndacc;pwd=Swe8234Ue3ND"/>
    <add name="localsqlVClip" connectionString="server=db177.vmgmedia.vn;database=VMG_Portal;uid=portal;pwd=portal!@#"/>
    <add name="localsqlttndservices" connectionString="server=dbttnd.vmgmedia.vn;database=TTND_Services;uid=ttndservices;pwd=ttND53r7vice$;Connect Timeout=1200;"/>
    <add name="localsqlVms" connectionString="server=db177.vmgmedia.vn;database=MobileScriptions;uid=viettelsubs;pwd=mobilesubsqwe;Connect Timeout=1200;"/>
    <!--<add name="connect56" connectionString="server=123.29.67.56;database=ContentPortal;uid=cportal;pwd=cportal123cportal"/>-->
    <add name="connect56" connectionString="server=sv56.vmgmedia.vn;database=ContentPortal;uid=cportal;pwd=cportal123cportal"/>
  </connectionStrings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="Logs\Log.txt"/>
      <param name="appendToFile" value="true"/>
      <param name="maximumFileSize" value="1024KB"/>
      <param name="maxSizeRollBackups" value="20"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] %thread %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="EventLog" type="log4net.Appender.EventLogAppender">
      <threshold value="ERROR"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="MyApp.exe has thrown an error and was unable to complete its task. This is the error message (please see the log file for more details):%newline%newline %message"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows"/>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>