<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VNM_ViSport_Charging.SMS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VNM_ViSport_Charging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] %thread %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="logs\SentMT_To_VMGGateway.txt" />
      <param name="appendToFile" value="true" />
      <param name="maximumFileSize" value="10000KB" />
      <param name="maxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] %thread %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="EventLog" type="log4net.Appender.EventLogAppender">
      <threshold value="ERROR" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="MyApp.exe has thrown an error and was unable to complete its task. This is the error message (please see the log file for more details):%newline%newline %message" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <userSettings>
    <VNM_ViSport_Charging.SMS>
      <setting name="RetryTimes" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SendMTThreadTimeLoop" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SendMTFromQueLoop" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="cnn" serializeAs="String">
        <value>server=123.29.68.139;database=TTND;uid=ttndacc;pwd=Swe8234Ue3ND</value>
      </setting>
      <setting name="isSendToGateway" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ConcurentThread" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MaxThread" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="PriceSC" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>VMGViSport</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>v@#port</value>
      </setting>
      <setting name="CpID" serializeAs="String">
        <value>1930</value>
      </setting>
      <setting name="PriceSM" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="IsTest" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FailCharge" serializeAs="String">
        <value>172</value>
      </setting>
      <setting name="Message" serializeAs="String">
        <value>(092) Chuc mung! Quy khach da gia han thanh cong DV viSportSMS cua Vietnamobile . Truy cap ngay http://viSport.vn de su dung dich vu. Cuoc phi ( 3000d/ 07 ngay) De huy DK, soan: SM OFF gui 979. HT: 19001255</value>
      </setting>
      <setting name="MessageSC" serializeAs="String">
        <value>(092) Chuc mung! Quy khach da gia han thanh cong DV viSport cua Vietnamobile . Truy cap ngay http://viSport.vn de su dung dich vu. Cuoc phi ( 3000d/ 07 ngay) De huy DK, soan: SC OFF gui 979. HT: 19001255</value>
      </setting>
      <setting name="ProccessTimeLoop" serializeAs="String">
        <value>3600000</value>
      </setting>
    </VNM_ViSport_Charging.SMS>
    
  </userSettings>
  <applicationSettings>
    <VNM_ViSport_Charging.Properties.Settings>
      <setting name="VNM_ViSport_Charging_SentMT_ServiceProviderService"
        serializeAs="String">
        <value>http://123.29.69.168/api/services/sendMT</value>
      </setting>
      <setting name="VNM_ViSport_Charging_ChargingGateway_WebServiceCharging3g"
        serializeAs="String">
        <value>http://123.29.67.36:9203/WebServiceCharging3g.asmx</value>
      </setting>
    </VNM_ViSport_Charging.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>